{
  "extends": [
    "standard",
    "standard-react",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "react"
  ],
  "rules": {
    "max-len": [1, 120]
  }
}
