[submodule "out/cv"]
	path = out/cv
	url = https://andreiconstantinescu:b6d4d8f979d75a750b32b86239905f4ff978a842@github.com/andreiconstantinescu/cv.git
	branch = gh-pages
[submodule "out/home"]
	path = out/home
	url = https://andreiconstantinescu:b6d4d8f979d75a750b32b86239905f4ff978a842@github.com/andreiconstantinescu/andreiconstantinescu.github.io.git
	branch = master
